terraform {
  backend "azurerm" {
    resource_group_name  = "rg-kairoai-tfstate-ci"
    storage_account_name = "stkairoaitfstateci"
    container_name       = "tfstate"
    key                  = "kairoai/prod-dr/terraform.tfstate"
  }
}
