terraform {
  backend "azurerm" {
    resource_group_name  = "rg-kairoai-tfstate"
    storage_account_name = "replacewithstateaccount"
    container_name       = "tfstate"
    key                  = "kairoai/dev/terraform.tfstate"
  }
}
